<%- include('./include/header') %>
<%- include('./include/navbar') %>
<body id="corpo">
    <div class="container-fluid d-flex align-item-center justify-content-center">
        <p class="title">Projeto Assinatura do Teste Estrutural 2021.1</p>
    </div>
    <div class="container d-flex align-item-center justify-content-between px-5">
        <a class="options" href="">Programa P</a>
        <a class="options" href="">Programa O</a>
        <a class="options" href="">Caso de Teste</a>
        <a class="options" href="">Teste de Mesa</a>
    </div>
</body>
<%- include('./include/footer') %>