<%- include('./include/header') %>

<!--|||||||||||||||||||||||||||||||||||||| CONTEUDO ||||||||||||||||||||||||||||||||||||||-->

<body>
    <%- include('./include/navbar') %>

    <section class="middle">

        <!-- MENU DE ETAPAS -->
        <nav class="col-sm-12 y-9">
            <ul class="nav nav-tabs col-sm-6">
                </li>
                <li class="nav-item">
                    <a href="/pag1">ETAPA 1</a>
                </li>
                <li class="nav-item">
                    <a href="/pag2">ETAPA 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ETAPA 3</a>
                </li>
                </li>
                <li class="nav-item">
                    <a href="/pag4">ETAPA 4</a>
                </li>
                <li class="nav-item">
                    <a href="/pag5">ETAPA 5</a>
                </li>
            </ul>
        </nav>

        <!-- TITULO -->
        <h2 id="title_h2">ETAPA 3: Tabelas para Teste de Mesa</h2>
        <hr id="line" />

        <!-- PARTE CENTRAL -->
        <section class="container">
            <form>
                <section class="row">

                    <!-- COLUNA PROGRAMA O -->
                    <section class="form-group col-sm-6">
                        <p class="h4">Programa O</p>

                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row"><label for="inputAddress">#1 - int buscaBin (int valor, int tam, int v[])
                                    {</label></div>
                            <div class="row row-cols-2">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="valor">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="tam">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="esq">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="mid">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="dir">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[mid]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="while (esq < dir)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] == valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] < valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="return">
                            </div>
                        </section>

                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row"><label for="inputAddress">#2 - int esq = 0, mid, dir = tam-1;</label></div>
                            <div class="row row-cols-2">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="valor">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="tam">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="esq">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="mid">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="dir">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[mid]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="while (esq < dir)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] == valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] < valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="return">
                            </div>
                        </section>

                    </section>

                    <!-- COLUNA PROGRAMA P -->
                    <section class="form-group col-sm-6">
                        <p class="h4">Programa P</p>

                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row"><label for="inputAddress">#1 - int buscaBin (int valor, int tam, int v[])
                                    {</label></div>
                            <div class="row row-cols-2">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="valor">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="tam">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="esq">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="mid">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="dir">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[mid]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="while (esq < dir)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] == valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] < valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="return">
                            </div>
                        </section>

                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row"><label for="inputAddress">#2 - int esq = 0, mid, dir = tam-1;</label></div>
                            <div class="row row-cols-2">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="valor">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="tam">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="esq">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="mid">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="dir">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="v[mid]">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="while (esq < dir)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] == valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="if(v[mid] < valor)">
                                <input type="text" class="form-control form-control-sm my-2 col-md-3 mx-2"
                                    id="inputAddress" placeholder="return">
                            </div>
                        </section>

                    </section>

                </section>


                <!-- BOTÕES VOLTAR~PROXIMO -->
                <section class="d-flex justify-content-between p-3">
                    <a href="/pag2" type="submit" class="btn-lg btn-warning">Voltar</a>
                    <a href="/pag4" type="submit" class="btn-lg btn-success">Próximo</a>
                </section>

            </form>
        </section>
    </section>

</body>
<%- include('./include/footer') %>