<%- include('./include/header') %>

<!--|||||||||||||||||||||||||||||||||||||| CONTEUDO ||||||||||||||||||||||||||||||||||||||-->

<body>
    <%- include('./include/navbar') %>

    <section class="middle">

        <!-- MENU DE ETAPAS -->
        <nav class="col-sm-12 y-9 d-flex justify-content-center">
            <ul class="nav nav-tabs col-sm-6">
                <li class="nav-item"><p>ETAPA 1</p></li>
                <li class="nav-item"><p>ETAPA 2</p></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ETAPA 3</a>
                </li>
                <li class="nav-item"><p>ETAPA 4</p></li>
                <li class="nav-item"><p>ETAPA 5</p></li>
             </ul>
         </nav>

        <!-- TITULO -->
        <h2 id="title_h2">ETAPA 3: Tabelas para Teste de Mesa</h2>
        <hr id="line" />

        <!-- PARTE CENTRAL -->
        <section class="container">
            <form>
                
                <section class="row">

                    <!-- COLUNA PROGRAMA O -->
                    <section class="form-group col-sm-6">
                        <p class="h4">Programa O</p>
                        
                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row"><label for="inputAddress">#1 - int buscaBin (int valor, int tam, int v[]) {</label></div>
            
                            <div class="row row-cols-3">
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="valor"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="tam"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="esq"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="mid"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="dir"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[mid]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="while (esq <div)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] == valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] < valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="return"></div>
                            </div>
                        </section>

                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row row-cols-3">
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="valor"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="tam"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="esq"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="mid"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="dir"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[mid]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="while (esq <div)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] == valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] < valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="return"></div>
                            </div>
                        </section>
            
                    </section>

                    <!-- COLUNA PROGRAMA P -->
                    <section class="form-group col-sm-6">
                        <p class="h4">Programa P</p>
                        
                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row"><label for="inputAddress">#1 - int buscaBin (int valor, int tam, int v[]) {</label></div>
                            <div class="row row-cols-3">
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="valor"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="tam"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="esq"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="mid"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="dir"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[mid]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="while (esq <div)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] == valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] < valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="return"></div>
                            </div>
                        </section>

                        <!-- LINHA DE CÓDIGO -->
                        <section class="container py-3">
                            <div class="row"><label for="inputAddress">#2 - int esq = 0, mid, dir = tam-1;</label></div>
                            <div class="row row-cols-3">
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="valor"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="tam"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="esq"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="mid"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="dir"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="v[mid]"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="while (esq <div)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] == valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="if(v[mid] < valor)"></div>
                                <div class="col"><input type="text" class="form-control form-control-sm my-2 mx-2" id="inputAddress" placeholder="return"></div>
                            </div>
                        </section>

                    </section>

                </section>



                <!-- BOTÕES VOLTAR~PROXIMO -->
                <section class="d-flex justify-content-between p-3">
                    <a href="/pag2" type="submit" class="btn-lg btn-warning">Voltar</a>
                    <a href="/pag4" type="submit" class="btn-lg btn-success">Próximo</a>
                </section>

            </form>
        </section>
    </section>
    
</body>


<%- include('./include/footer') %>