<%- include('./include/header') %>

<!--|||||||||||||||||||||||||||||||||||||| CONTEUDO ||||||||||||||||||||||||||||||||||||||-->

<body>
    <%- include('./include/navbar') %>

    <section class="middle">

        <!-- MENU DE ETAPAS -->
        <nav class="col-sm-12 y-9">
            <ul class="nav nav-tabs col-sm-6">
                <li class="nav-item">
                    <a href="/pag1">ETAPA 1</a>
                </li>
                <li class="nav-item">
                    <a href="/pag2">ETAPA 2</a>
                </li>
                <li class="nav-item">
                    <a href="/pag3">ETAPA 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ETAPA 4</a>
                </li>
                <li class="nav-item">
                    <a href="/pag5">ETAPA 5</a>
                </li>
            </ul>
        </nav>

        <!-- TITULO -->
        <h2 id="title_h2">ETAPA 4: Subcaminho de teste</h2>
        <hr id="line" />

        <!-- PARTE CENTRAL -->
        <section class="container">
            <form>
                <section class="row">
                    <!-- PROGRAMA O -->
                    <div class="form-group col-sm-6">
                        <label for="message">SubCaminho de teste do Programa O</label>
                        <input type="email" class="form-control my-2" id="exampleFormControlInput1"
                            placeholder="1, 2, 3, 4, 8, 9">
                    </div>
                    <!-- PROGRAMA O -->
                    <div class="form-group col-sm-6">
                        <label for="message">SubCaminho de teste do Programa P</label>
                        <input type="email" class="form-control my-2" id="exampleFormControlInput1"
                            placeholder="1, 2, 3, 4, 8, 9">
                    </div>
                </section>

                <!-- BOTÕES VOLTAR~PROXIMO -->
                <section class="d-flex justify-content-between p-3">
                    <a href="/pag3" type="submit" class="btn-lg btn-warning">Voltar</a>
                    <a href="/pag5" type="submit" class="btn-lg btn-success">Próximo</a>
                </section>

            </form>
        </section>
    </section>
</body>
<%- include('./include/footer') %>