<%- include('./include/header') %>

<!--|||||||||||||||||||||||||||||||||||||| CONTEUDO ||||||||||||||||||||||||||||||||||||||-->

<body>
    <%- include('./include/navbar') %>

    <section class="middle">

        <!-- MENU DE ETAPAS -->
        <nav class="col-sm-12 y-9 d-flex justify-content-center">
            <ul class="nav nav-tabs col-sm-6">
                <li class="nav-item"><p>ETAPA 1</p></li>
                <li class="nav-item"><p>ETAPA 2</p></li>
                <li class="nav-item"><p>ETAPA 3</p></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ETAPA 4</a>
                </li>
                <li class="nav-item"><p>ETAPA 5</p></li>
             </ul>
         </nav>

        <!-- TITULO -->
        <h2 id="title_h2">ETAPA 4: Subcaminho de teste</h2>
        <hr id="line" />

        <!-- PARTE CENTRAL -->
        <section class="container">
            <form action="/pag5" method="POST">
                <section class="row">
                    <!-- PROGRAMA O -->
                    <div class="form-group col-sm-6">
                        <label for="message" class="mt-3">SubCaminho de teste do Programa O</label>
                        <input type="text" class="form-control my-2" id="exampleFormControlInput1"
                            placeholder="1, 2, 3, 4, 8, 9" name="subcaminho_o">
                        <label for="message" class="mt-3">SubCaminho em Notação</label>
                        <input type="text" class="form-control my-2" id="exampleFormControlInput1"
                            placeholder="(n, (m, k), bool, var)" name="subcaminho_o_not">
                        <div id="emailHelp" class="form-text">n: Nó Inicial;&nbsp; (m, k): Aresta final;&nbsp; bool: Valor boleano da Aresta;&nbsp; var: Variável; </div>
                        
                    </div>
                    <!-- PROGRAMA P -->
                    <div class="form-group col-sm-6">
                        <label for="message" class="mt-3">SubCaminho de teste do Programa P</label>
                        <input type="text" class="form-control my-2" id="exampleFormControlInput1"
                            placeholder="1, 2, 3, 4, 8, 9" name="subcaminho_p">
                        <label for="message" class="mt-3">SubCaminho em Notação</label>
                        <input type="text" class="form-control my-2" id="exampleFormControlInput1"
                            placeholder="(n, (m, k), bool, var)" name="subcaminho_p_not">
                        <div id="emailHelp" class="form-text">n: Nó Inicial;&nbsp; (m, k): Aresta final;&nbsp; bool: Valor boleano da Aresta;&nbsp; var: Variável; </div>
                        
                    </div>
                </section>

                <!-- BOTÕES VOLTAR~PROXIMO -->
                <section class="d-flex justify-content-between p-3">
                    <a href="/pag3" type="submit" class="btn-lg btn-warning">Voltar</a>
                    <button type="submit" class="btn-lg btn-success">Próximo</a>
                </section>

            </form>
        </section>
    </section>
</body>
<%- include('./include/footer') %>