<!--|||||||||||||||||||||||||||||||||||||| RODAPÉ ||||||||||||||||||||||||||||||||||||||-->
<footer class="bg-secondary  w-100">
    <p>© Copyright 2021 - All Rights Reserved</p>
    <div>
        <a href="http://www.uesc.br/" title="Acesse o site da Uesc" >UESC</a>
        <img src="img/logo.png" />
    </div>
</footer>

</html>