<footer class="footer bg-light position-absolute bottom-0 w-100">
    <div class="container d-flex align-items-center">
        <p class="text-muted">© Copyright 2021 Eng. de Software 2021.1</p>
    </div>
</footer>