<footer id="rodape" class="footer position-absolute bottom-0 left-0 bg-light w-100">
    <div class="container d-flex align-items-center">
        <p class="text-muted">© Copyright 2021 Eng. de Software 2021.1</p>
    </div>
</footer>
</html>